{% extends "PFAgendaBundle::layout.html.twig" %}


{% block title %}
	{{ parent() }} | TimeSlot
{% endblock %}





{% block stylesheets %}

{{parent()}}


{% endblock %}



{% block content %}
	{{parent()}}
	

		<a class="btn-del" href="{{ path('pf_agenda_view_timeslot', {'conseille': user.id, }) }}">Gerer ses créneaux horaire</a>	


		
	
		<table class="table table-hover" id="table-timeslot">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Candidat</th>
					<th scope="col">Statut</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for rdv in listRdv%}
					{% if rdv.timeslot.conseille.id == user.id %}
						<tr>
							<th scope="row">{{ loop.index }}</th>
							<td>
								{{ rdv.timeslot.date|date('d/m/Y H:i') }}
							</td>
							<td>{{ rdv.candidat }}</td>
							<td>{{ rdv.status }}</td>
							<td>
								{% if rdv.status == 'En attente' %}
									<a class="btn-del" href="{{ path('pf_agenda_status_rdv', {'idrdv': rdv.id, 'status': 'Validate' }) }}">✅ Validate</a>	
									<a class="btn-del" href="{{ path('pf_agenda_status_rdv', {'idrdv': rdv.id, 'status': 'Refuse' }) }}">❌ Refuse</a>	
								{% elseif rdv.status == 'Validate' %}
									<a class="btn-del" href="{{ path('pf_agenda_status_rdv', {'idrdv': rdv.id, 'status': 'Refuse' }) }}">❌ Refuse</a>	
								{% elseif rdv.status == 'Refuse' %}
									<a class="btn-del" href="{{ path('pf_agenda_status_rdv', {'idrdv': rdv.id, 'status': 'Validate' }) }}">✅ Validate</a>	
								{% endif %}	
							</td>
							
						</tr>
					{% endif %}	
				{% endfor %}			

			</tbody>
		</table>
		
		<div id='calendar'></div>







{% endblock %}

{% block javascripts %}	
{{parent()}}
	<script>

	  $(document).ready(function() {

		$('#calendar').fullCalendar({
		  header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		  },
			locale: 'fr',
		  navLinks: true, // can click day/week names to navigate views
		  events: [
					{% for rdv in listRdv%}
						{% if rdv.timeslot.conseille.id == user.id %}
							{
										
								start: '{{ rdv.timeslot.date|date('Y-m-d\\TH:i:s') }}',
								end: '{{ rdv.timeslot.date|date('Y-m-d\\TH:i:s') }}',
								backgroundColor: '#00B2ED',
								borderColor : '#00B2ED',
								textColor: 'white',
								title: '[{{rdv.candidat}}] {{ rdv.typeRDV }} - {{ rdv.status }}',
								
							},
						{% endif %}
					{% endfor %}
				]
		});

	  });

	</script>
{% endblock %}