{% extends "PFAgendaBundle::layout.html.twig" %}


{% block title %}
	{{ parent() }} | TimeSlot
{% endblock %}

{% block body %}

		<table class="table table-hover" id="table-timeslot">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for timeslot in listTimeSlot %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>
							{{ timeslot.date|date('d/m/Y H:i') }}
						</td>
						<td>
							{% if timeslot.rdv|length > 0 %}
								{% for rdv in timeslot.rdv %}
									{% if rdv.candidat == user %}
										{{ rdv.status }}
									{% endif %}
									
								{% endfor %}
							{% else %}
								<a class="btn-blue" aria-label="reserve this time slot" href="{{ path('pf_agenda_add_rdv', {'idtimeslot': timeslot.id, 'typerdv': 'skype' }) }}">Reserve Skype</a>
							{% endif %}
						</td>
					
					</tr>{{ dump(timeslot)}}
				{% endfor %}			

			</tbody>
		</table>


{% endblock %}

